# lib gestite e file compilati (model/component)
/bin/
/lib/
/classes/
/deploy/
**/tmp/
/build/build*/
/build/
# Estensioni
#*.jar
#*.zip

# File specifici
[Mm]anifest.mf
vuo[rt]o.txt



**/*.class
bin/

# Gradle
.gradle
.gradle.bat
/gradle/
gradlew
target

.idea/

# Eclipse
**/*.classpath
**/*.factorypath
.settings
**/*.project

push.sh
